<!DOCTYPE html>
<html>
  <head>
    <title>All Movies</title>
    <!-- Add your CSS and other required scripts here -->
  </head>
  <body>
    <h1>All Movies</h1>

    <h2>Add Movie</h2>
    <form action="/add-movie" method="POST" enctype="multipart/form-data">
      <label for="movieTitle">Title:</label>
      <input
        type="text"
        id="movieTitle"
        name="movieTitle"
        placeholder="Enter movie title"
        required
      />

      <input
        type="file"
        name="image"
        class="form-control"
        id="fileInput"
        accept=".jpg,.jpeg,.png"
        required
      />
      <label class="form-label" for="customFile"
        >(Accepted file: jpg, jpeg, png)</label
      >

      <label for="movieTrailer">Trailer URL:</label>
      <input
        type="text"
        id="movieTrailer"
        name="movieTrailer"
        placeholder="Enter trailer URL"
        required
      />

      <label for="movieSummary">Summary:</label>
      <textarea
        id="movieSummary"
        name="movieSummary"
        placeholder="Enter movie summary"
        rows="4"
        required
      ></textarea>

      <label for="casts">Casts:</label>
      <input
        type="text"
        id="casts"
        name="casts"
        placeholder="Enter casts"
        required
      />

      <label for="status">Status:</label>
      <select id="status" name="status" required>
        <option value="">Select status</option>
        <option value="Released">Released</option>
        <option value="Coming Soon">Coming Soon</option>
      </select>

      <label for="languageId">Language:</label>
      <select id="languageId" name="languageId" required>
        <% languages.forEach(function(language) { %>
        <option value="<%= language.id %>"><%= language.name %></option>
        <% }); %>
      </select>

      <button type="submit">Add Movie</button>
    </form>

    <hr />

    <h2>Existing Movies</h2>
    <% if (movies.length > 0) { %>
    <ul>
      <% movies.forEach(function(movie) { %>
      <li>
        <h3><%= movie.title %></h3>
        <img src="/<%=movie.image%>" id="main_product_image"
        class="img-fluid mt-4">
        <p><%= movie.movie_summary %></p>
        <p><%= movie.status%></p>
        <p><%= movie.casts %></p>
        <p>Language: <%=  movie.languageName %></p>
        <a href="<%= movie.trailer %>">Watch Trailer</a>
       
        <!-- Display other movie details as needed -->
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No movies found.</p>
    <% } %>

    <!-- Add your additional HTML content as needed -->

    <!-- Add your JavaScript code if required -->
  </body>
</html>
