<h1>THis is movie bookings</h1>

<table>
  <tr>
    <th>TicketNo</th>
    <th>Movie Name</th>
    <th>Booked By</th>
    <th>Hall Name</th>
    <th>Location</th>
    <th>Booking Date</th>
    <th>Time</th>
    <th>Seat No.</th>
    <th>Amount</th>
    <th>Download</th>
  </tr>
  <% bookings.forEach(function(booking){ %>
  <tr>
    <td><%= booking.booking_id %></td>
    <td><%= booking.movie_title %></td>
    <td><%= booking.username %></td>
    <td><%= booking.hall_name %></td>
    <td><%= booking.hall_location %></td>
    <td>
      <%= new Date(booking.screening_date).toLocaleDateString("en-US", {
      weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %>
    </td>
    <td><%= booking.screening_time %></td>
    <td><%= booking.seat_number %></td>
    <td><%= booking.amount %></td>
    <td>
      <a href="/download-booking/<%= booking.booking_id %>">Download </a>
    </td>
  </tr>
  <% }) %>
</table>
