<%- include('header') %>

          <section class="table__header">
            <h1>Movie Administration</h1>
          </section>
          <section class="table__body">
            <div class="pr-4 pl-4" style="padding-bottom: 100px">
              <table id="myTable" class="table table-striped">
                <thead>
                  <tr>
                    <th>SI No <span class="icon-arrow">&UpArrow;</span></th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Movie Hall</th>
                    <th>Location</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% let slNo = 1; %>
                  <!-- Initialize the slNo variable outside the loop -->
                  <% Users.forEach(function(user) { %>
                  <tr id="rowId1">
                    <td><%= slNo %></td>
                    <!-- Display the current value of slNo -->
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.theater.name %></td>
                    <td><%= user.theater.location %></td>
                    <td>
                      <a href="/edit-movie"> <i class="fa fa-edit"></i></a>
                      <i class="fa fa-trash delete-icon"></i>
                    </td>
                  </tr>
                  <% slNo++; %>
                  <!-- Increment the slNo for the next iteration -->
                  <% }) %>
                </tbody>
              </table>

              <div class="add-user-button-container">
                <a href="/addUser"
                  ><button class="add-user-button">Add New User</button></a
                >
              </div>
            </div>
          </section>
        </main>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#myTable').DataTable({
          // Enable filtering
          searching: true,
          // Enable sorting
          ordering: true,
          // Enable pagination
          paging: true,
        });
      });
    </script>
  </body>
</html>
