<%- include('header') %>

          <section class="table__header">
            <h3>Report</h3>
          </section>
          <section class="table__body">
            <div class="pr-4 pl-4" style="padding-bottom: 100px">
              <div class="table-scroll-container">
                <table id="myTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th style="padding: 15px 10px;">SI No <span class="icon-arrow">&UpArrow;</span></th>
                      <th>Hall Name</th>
                      <th>Location</th>
                      <th>Movie Title</th>
                      <th>Screening Date</th>
                      <th>Screening Time</th>
                      <th>Bookings Count</th>
                      <th>Tickets Left</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let slNo = 1; %>
                    <!-- Initialize the slNo variable outside the loop -->
                    <% movieHallMapping.forEach((booking) => { %>
                      <tr>
                        <td style="padding: 15px 10px;"><%= slNo %></td>
                        <td><%= booking.hall_name %></td>
                        <td><%= booking.location %></td>
                        <td><%= booking.movie_title %></td>
                        <td><%= booking.screening_date %></td>
                        <td><%= booking.screening_time %></td>
                        <td><%= booking.bookings_count %></td>
                        <td><%= booking.tickets_left %></td>
                      </tr>
                    <% slNo++; %>
                    <!-- Increment the slNo for the next iteration -->
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </main>
      </section>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#myTable').DataTable({
          // Enable filtering
          searching: true,
          // Enable sorting
          ordering: true,
          // Enable pagination
          paging: true,
        });
      });
    </script>
    <%- include('alert') %>
  </body>
</html>
