<%- include('header') %>
<link href="/super/css/style.css" rel="stylesheet" type="text/css" />
          <section class="table__header">
            <h3>Hall Mapping</h3>
          </section>
          <section class="table__body">
            <form action="/mappingUpdate/<%= mapping.id %>" method="POST" class="hall-form">
              <label for="movieId">Movie:</label>
              <select id="movieId" name="movieId" required>
                <option value="<%= mapping.movie_id %>">Select a Movie</option>
                <% movies.forEach(function(movie) { %>
                <option value="<%= movie.id %>"><%= movie.title %></option>
                <% }) %></select
              ><br />

              <label for="movieHallId" style="margin-top: 10px;">Movie Hall:</label>
              <select id="movieHallId" name="movieHallId" required>
                <option value="<%= mapping.movie_hall_id %>">Select a Movie Hall</option>
                <% movieHalls.forEach(function(movieHall) { %>
                  <% if (movieHall.status !== 0) { %>
                    <option value="<%= movieHall.id %>">
                      <%= movieHall.name %>
                    </option>
                  <% } %>
                <% }) %></select
              ><br />

              <label for="screeningDates" style="margin-top: 10px;">Date(<%= mapping.screening_date %>)</label>
              <select
                id="screeningDates"
                name="screeningDates"
                required
              >
                <% for (let i = 0; i < 7; i++) { %> <% const currentDate = new
                Date(); %> <% currentDate.setDate(currentDate.getDate() + i); %>
                <% const formattedDate =
                currentDate.toISOString().split('T')[0]; %>
                <option value="<%= formattedDate %>">
                  <%= formattedDate %>
                </option>
                <% } %></select
              ><br />

              <label for="screeningTime" style="margin-top: 10px;">Time(<%= mapping.screening_time %>)</label>
              <input
                type="time"
                id="screeningTime"
                name="screeningTime"
                required
              /><br />

              <button type="submit" style="color: #828282; margin-top: 15px" >Update Mapping</button>
            </form>
          </section>
        </main>
      </section>
    </div>
  </body>
</html>
