<%- include('header') %>

          <section class="table__header">
            <h3>Hall Configuration</h3>
          </section>
          <section class="table__body">
            <form
              action="/hallUpdate/<%= hall.id %>"
              method="POST"
              class="hall-form"
            >
              <div class="input-row">
                <div>
                  <label for="name">Name:</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    value="<%= hall.name %>"
                  />
                  <p style="color: red">
                    <%= (typeof errors !== "undefined" && typeof errors.name !==
                    "undefined") ? errors.name.msg : "" %>
                  </p>
                </div>
                <div>
                  <label for="location">Location:</label>
                  <select name="location" id="locations" required>
                    <option value="<%= hall.location %>" selected>
                      Select Location:
                    </option>
                    <option value="Thimphu">Thimphu</option>
                    <option value="Paro">Paro</option>
                    <option value="Punakha">Punakha</option>
                    <option value="Wangdue">Wangdue</option>
                    <option value="Trashigang">Trashigang</option>
                  </select>
                  <p style="color: red">
                    <%= (typeof errors !== "undefined" && typeof errors.location
                    !== "undefined") ? errors.location.msg : "" %>
                  </p>
                </div>
              </div>
              <div class="input-row">
                <div>
                  <label for="normal_capacity">Normal Capacity:</label>
                  <input
                    type="number"
                    id="normal_capacity"
                    name="normal_capacity"
                    value="<%= hall.normal_capacity %>"
                  />
                </div>
                <div>
                  <label for="vip_capacity">VIP Capacity:</label>
                  <input
                    type="number"
                    id="vip_capacity"
                    name="vip_capacity"
                    value="<%= hall.vip_capacity %>"
                  />
                </div>
              </div>
              <div class="input-row">
                <div>
                  <label for="normal_rate">Normal Rate:</label>
                  <input
                    type="number"
                    id="normal_rate"
                    name="normal_rate"
                    value="<%= hall.normal_rate %>"
                  />
                </div>
                <div>
                  <label for="vip_rate">VIP Rate:</label>
                  <input
                    type="number"
                    id="vip_rate"
                    name="vip_rate"
                    value="<%= hall.vip_rate %>"
                  />
                </div>
              </div>
              <div>
                <label for="status">Status:</label>
                <select name="status" id="locations">
                  <option value="<%= hall.status %>" selected>Select Status:</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
                <p style="color: red">
                  <%= (typeof errors !== "undefined" && typeof errors.location
                  !== "undefined") ? errors.location.msg : "" %>
                </p>
              </div>
              <button type="submit" style="color: black">Update Now</button>
            </form>
          </section>
        </main>
      </section>
    </div>
  </body>
</html>
