<h3>THis is booking page</h3>
<%= seats %> <br />
<%= hall_id %> <br />
<h3>Movie Title: <%= movieTitle %></h3>
<h3>Theatre: <%= hallResult[0].name %></h3>
<h3>Date: <%= date %></h3>
<h3>Time: <%= time %></h3>
<body>
  <h3>Seat and Payment Summary</h3>
  <h4>Room Type: <%= hallResult[0].name %></h4>
  <h4>Seat Number: <%= seats %></h4>
  <% selectedSeats.forEach(function(seat) { %> <% if (parseInt(seat) <=
  hallResult[0].normal_capacity) { %>
  <div class="row">
    <div class="seat">
      <p>Seat Number: <%= seat %></p>
      <p>Ticket Price: <%= hallResult[0].normal_rate %></p>
    </div>
  </div>
  <% } else { %>
  <div class="row">
    <div class="seat vip">
      <p>Seat Number: <%= seat %></p>
      <p>Ticket Price: <%= hallResult[0].vip_rate %></p>
    </div>
  </div>
  <% } %> <% }); %>
  <h3>Total Price: <%= totalPrice %></h3>

  <form action="/booking" method="POST">
    <% seats.forEach((seat) => { %>
    <input type="hidden" name="seats[]" value="<%= seat %>" />
    <% }) %>
    <input type="hidden" name="hall" value="<%= hall_id %>" />
    <input type="hidden" name="movie" value="<%= movie %>" />
    <input type="hidden" name="time" value="<%= time %>" />
    <input type="hidden" id="date" name="date" value="<%= date %>" />

    <button type="submit">Book</button>
  </form>
</body>
