<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-5+fyiv8dMxGauzwA3uUUvSf3zRfrN0MhAEbZlj0Sz5n7mwyUFR7rNWT4ym0DxliYbE5mU1KlO0hwUIf+haJFA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@10/swiper-bundle.min.css"
    />
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>

  <body>
    <!-- ===================================Navbar============================================ -->
    <%- include('header') %>
    <!-- =============================================Image Slider========================================= -->
    <!-- slider 1-->
    <div class="swiper mt-2">
      <div class="swiper-wrapper">
        <% const latestAddedMovies = movies.slice(-3);
        latestAddedMovies.forEach(function(movie) { %>
        <div class="swiper-slide">
          <section
            class="hero-banner text-white"
            style="
              background: url('/images/<%= movie.image %>') no-repeat center
                center / cover;
            "
          >
            <div class="container text-white">
              <div class="row">
                <div class="col-md-6 d-none d-md-block d-lg-block">
                  <div class="hero-overlay">
                    <button
                      class="gradient-border-button"
                      type="button"
                      class="btn btn-primary"
                      style="
                        background-color: transparent;
                        border: 2px solid #ffe36d;
                        border-radius: 15px;
                      "
                    >
                      <%= movie.genre %>
                    </button>
                    <h6 class="hero-title mb-2" class="text-white">
                      <%= movie.title %>
                    </h6>
                    <span>
                      <i class="bi bi-clock-fill" style="color: #ffe36d"></i><%=
                      movie.duration %></span
                    >
                    
                    <p class="hero-subtitle"><%= movie.summary %></p>
                    <button
                      type="button"
                      onclick="location.href='/movie-details?movieId=<%= movie.id %>'"
                      class="btn btn-primary btn-lg"
                      style="
                        background-color: transparent;
                        border: 2px solid #ffe36d;
                        border-radius: 15px;
                      "
                    >
                      BOOK NOW
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Additional Hero Overlay in the Second Row (between 992px and less than 576px) -->
          <section class="hero-overlay">
            <div class="container">
              <div class="row">
                <div class="col-md-12 d-md-none">
                  <button
                    class="gradient-border-button"
                    type="button"
                    class="btn btn-primary"
                    style="
                      background-color: transparent;
                      border: 2px solid #ffe36d;
                      border-radius: 15px;
                    "
                  >
                    <%= movie.genre %>
                  </button>
                  <h6 class="hero-title mb-2"><%= movie.title %></h6>
                  <span>
                    <i class="bi bi-clock-fill" style="color: #ffe36d"></i><%=
                    movie.duration %></span
                  >
                  <p class="hero-subtitle"><%= movie.summary %></p>
                  <button
                    type="button"
                    onclick="location.href='/movie-details?movieId=<%= movie.id %>'"
                    class="btn btn-primary btn-lg"
                    style="
                      background-color: transparent;
                      border: 2px solid #ffe36d;
                      border-radius: 15px;
                    "
                  >
                    BOOK NOW
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <% }) %>
      </div>
    </div>

    <!-- ====================================Movie selection================================ -->
    <form method="GET" action="/">
      <section class="p-5">
        <div class="movie-selection d-flex justify-content-sm-center justify-content-lg-end">
          <div class="container">
            <div class="row">
              <div class="genre">
                <select name="genre" id="genre">
                  <option value="">All Genres</option>
                  <option value="comedy">Comedy</option>
                  <option value="action">Action</option>
                  <option value="romance">Romance</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
    <!-- ===============================movie list========================================== -->
    <div class="container movie-list">
      <div class="row">
        <div class="col-md-12">
          <div class="image-container d-flex justify-content-between">
            <%let counter = 0; movies.reverse().forEach(function(movie) {%>
            <div class="col-md-3 movie-item" data-genre="<%= movie.genre %>">
              <img src="/images/<%= movie.image %>" alt="Image 1" class="p-3" />
              <button
                onclick="location.href='/movie-details?movieId=<%= movie.id %>'"
                class="book-now"
              >
                BOOK NOW
              </button>
              <button
                onclick="location.href='/movie/<%= movie.id %>'"
                class="rate-us"
              >
                RATE US
              </button>
            </div>
            <% counter++; if (counter === 4) {counter = 0; %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="image-container d-flex justify-content-between">
            <% } }); %>
          </div>
        </div>
      </div>
      <div class="load-more d-flex justify-content-center">
        <button type="button" class="btn btn-secondary mt-4" id="more-button">
          LOAD MORE
        </button>
        <button
          type="button"
          class="btn btn-secondary mt-4"
          id="less-button"
          style="display: none"
        >
          SEE LESS
        </button>
      </div>
    </div>

    <!-- =========================================image============================================ -->

    <section class="text-light py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="/public/images/watching.jpg" class="img-fluid" />
          </div>
          <div class="col-md">
            <img
              src="/public/images/popcron.png"
              class="img-fluid d-none d-sm-block"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- ==============================Footer======================================= -->
    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // JavaScript and jQuery to handle genre filtering
      $(document).ready(function () {
        $('#genre').on('change', function () {
          const selectedGenre = $(this).val();

          // Show all movies if "All Genres" is selected, otherwise, filter movies by the selected genre
          $('.movie-item').each(function () {
            const movieGenre = $(this).data('genre');
            if (selectedGenre === '' || movieGenre === selectedGenre) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const moviesPerRow = 4;
        let moviesToShow = 4; // Show 4 movies initially
        const moreButton = document.getElementById('more-button');
        const lessButton = document.getElementById('less-button');
        const movieItems = document.querySelectorAll('.movie-list .col-md-3');

        // Function to toggle the visibility of movie items
        function toggleMovieItems() {
          movieItems.forEach((item, index) => {
            if (index < moviesToShow) {
              item.style.display = 'flex';
            } else {
              item.style.display = 'none';
            }
          });
        }

        // Show/hide movie items on initial load
        toggleMovieItems();

        function showMoreButton() {
          moreButton.style.display = 'inline-block';
          lessButton.style.display = 'none';
        }

        function showLessButton() {
          moreButton.style.display = 'none';
          lessButton.style.display = 'inline-block';
        }

        // Load more button functionality
        moreButton.addEventListener('click', function () {
          moviesToShow += moviesPerRow; // Increase the count by moviesPerRow
          toggleMovieItems();

          // Check if there are more movies to show
          if (moviesToShow >= movieItems.length) {
            showLessButton();
          }
        });

        // See less button functionality
        lessButton.addEventListener('click', function () {
          moviesToShow = 4; // Show 4 movies initially
          toggleMovieItems();
          showMoreButton();
        });
      });
    </script>
    <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper('.swiper', {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
      });
    </script>
    <%- include('alert') %>
  </body>
</html>
