<!DOCTYPE html>
<html>
  <head>
    <style>
      .seating-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Adjust the gap between rows */
      }

      .row {
        display: flex;
        gap: 10px; /* Adjust the gap between seats */
      }

      .seat {
        width: 30px; /* Adjust seat width */
        height: 30px; /* Adjust seat height */
        background-color: #d11e1e; /* Adjust seat color */
        border-radius: 50%;
        cursor: pointer;
      }

      /* Add additional styles for reserved or booked seats */
      .seat.available {
        background-color: #f7d23a; /* Reserved seat color */
      }

      .seat.booked {
        background-color: #eb3f2c; /* Booked seat color */
      }

      /* Add styles for selected seat */
      .seat.selected {
        border: 2px solid #3498db;
      }
    </style>
  </head>
  <body>
    <h2>This is Details Page</h2>
    <h3><%= movie.title %></h3>
    <h4>Hall Details</h4>
    <% halls.forEach((hall) => { %>
    <p><%= hall.name %></p>
    <p>Location: <%= hall.location %></p>
    <h5>Screening Dates and Times:</h5>
    <% hall.screenings.forEach((screening) => { %>
    <p>
      <a
        href="/seat-availability?hallId=<%= hall.id %>&movieId=<%= movie.id %>&date=<%= screening.screening_date %>&time=<%= screening.screening_time %>"
      >
        <%= screening.screening_date %> <%= screening.screening_time %>
      </a>
    </p>
    <% }) %> <% }) %>

    <p>SUMMAY: <%= movie.summary %></p>
    <p>GENRE: <%= movie.genre %></p>
    <p>CASTS: <%= movie.casts %></p>
    <p>STATUS: <%= movie.status %></p>

    <img src="/images/<%= movie.image %>" alt="<%= movie.title %>" />

    <form action="/movie-details" method="GET">
      <!-- Added a form for selecting the date -->
      <input type="hidden" name="movieId" value="<%= movie.id %>" />
      <label for="date">Select a date:</label>
      <input type="date" name="date" id="date" />
      <button type="submit">Check Availability</button>
    </form>
  </body>
</html>
